body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
}

.class-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    text-align: center;
}

.class-card:hover {
    transform: translateY(-10px);
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary { background-color: #4facfe; color: white; }
.btn-danger { background-color: #ff6b6b; color: white; margin-top: 10px; display: inline-block; }

form { margin-bottom: 40px; }
input { padding: 10px; border-radius: 8px; border: 1px solid #ddd; }

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.add-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

.add-form input {
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    color: #333;
}
.section-box {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    width: 90%;
    max-width: 900px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.attendance-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 15px;
    text-align: left;
}



table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.class-card .btn-primary {
    flex-grow: 1;
    font-size: 1.1em;
    padding: 15px;
}

.class-card .actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.video-container {
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    max-width: 800px;
    margin: 20px auto;
    background: #000;
}

.video-container img {
    display: block;
    width: 100%;
    height: auto;

}

.attendance-list {
    display: flex;
    flex-direction: column; /* Вертикальне положення */
    gap: 10px;
    max-height: 300px;
    overflow-y: auto; /* Скрол, якщо учнів багато */
    text-align: left;
    padding: 10px;
}

.student-row {
    padding: 8px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.student-row input {
    margin-right: 15px;
    transform: scale(1.2);
}